@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body {
    margin: 5em;
}

h1 {
    margin-bottom: 1em;
}

.table {
    margin-top: 2em;
    text-align: center;
}